#input_holder {
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: white;
	background-color: rgba(255,255,255,0.4);
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
}

header #date_holder {
	overflow: hidden;
	float: left;
	margin-top: 9px;
	margin-left: 9px;
	width: 20px;
	height: 20px;
	background-color: white;
	opacity: 0.5;
	cursor: pointer;
	border: 1px solid gray;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, ease-in;
}

header #date_holder:hover {
	opacity: 1.0;
}

header #date_holder #date {
	outline: 0;
	float: right;
	width: 90px;
	margin-top: 2px;
	border: none;
}

header #cal_holder {
	float:left;
	width: 20px;
	height: 20px;
}

header #day {
	text-align: center;
	font-size: 12px;
	padding-left: 1px;
	color : black;
	height: 15px;
	border-right: 1px solid gray;
}

header #month {
	background-color: #A00;
	line-height: 4px;
	font-size: 5px;
	text-align: center;
	padding-left:1px;
	height: 5px;
	border-right: 1px solid gray;
}

header #input {
	position: absolute;
	top: 5px;
	left: 35px;
	right: 30px;
	
	color: white;
	font-size: 18px;

	background-color: rgba(255,255,255,0);
	border: none;
	outline: 0;
}

header #add_button {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83c77a), to(#0e6700));
	width: 13px;
	height: 15px;
	float: right;
	border: 1px solid green;
	text-align: center;
	padding-left: 2px;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	opacity: 0.75;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, ease-in;
}

header #add_button:hover {
	opacity: 1.0;
}

header #add_button #add_tooltip {
	display: none;
	
	font-size: 10px;
	color: white;
	padding: 3px;
	border: 1px solid black;
	background-color:rgba(0,0,0,0.5);
	width: 115px;
	margin-top: -17px;
	
	position: absolute;
	right: 30px;
	
	-webkit-transition-property:display;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, ease-in;
}

header #add_button:hover #add_tooltip {
	display: block;
}