body {
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
/*	background-image: url(../images/main_background.jpg);*/
}

#helper {
	height: 90px;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -100px;
	background-color:rgba(0,0,0,0.5);
}

header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 66px;
	border-bottom: 1px solid #BBB;
	background-color:rgba(0,0,0,0.5);
}

#todo_list {
	padding: 10px;
	position: fixed;
	bottom: 40px;
	left: 0px;
	right: 0px;
	top: 66px;
	overflow: auto;
}

footer {
	background-color:rgba(0,0,0,0.5);
	height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}