.todo {
/*	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);*/
	border: 1px solid silver;
	padding: 5px;
	height: 32px;
	margin-top: -5px;
	background-color: white;
}

.sortable li {
	margin:0px;
	padding:0px;
}

.todo .timer {
	float: right;
	width: 20px;
	height: 50px;
	opacity: 0.5;
	cursor: pointer;
	
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, ease-in;
}

.todo .timer:hover {
	opacity: 1.0;
}

.todo .timer .lamp {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	width: 15px;
	height: 15px;
	margin-top: 5px;
}

.todo .timer .start {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(silver), to(green));
	background: -webkit-linear-gradient(silver,green);
}

.todo .timer .paus {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(silver), to(yellow));
	background: -webkit-linear-gradient(silver,yellow);
}

.todo .timer .stop {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(silver), to(red));
	background: -webkit-linear-gradient(silver,red);
}

.todo .date_holder {
/*	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
	float: left;
	border: 1px solid black;
	width: 30px;
	height:30px;
}

.todo .date_holder .day {
	height: 20px;
	text-align: center;
	font-size: 20px;
	line-height:20px;
	background-color: white;
}

.todo .date_holder .month {
	height: 10px;
	color: white;
	font-size: 8px;
	line-height:10px;
	font-weight: bold;
	text-align: center;
	background-color: #A00;
}

.todo .no_date {
	border-color: silver;
}

.todo .no_date .month {
	background-color: #DDD;
}

.todo .description_holder {
	float:left;
	height:30px;
	margin-left: 5px;
	position: absolute;
	left: 55px;
	right: 20px;
	line-height:30px;
	cursor: pointer;
	overflow: hidden;
}

.todo .description_holder h1 {
	font-size: 14px;
}

#todo_list .meta_data {
	display:none;
	padding: 5px;
	height:100px;
	border:1px solid silver;
	background-color:rgba(255,255,255,0.75);
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}